<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seimreab">
        <activity
            android:name=".CreatePinActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPinActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePinActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordstActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".TaphromActivity"
            android:exported="false" />
        <activity
            android:name=".BanteaysreyActivity"
            android:exported="false" />
        <activity
            android:name=".PhreskhanActivity"
            android:exported="false" />
        <activity
            android:name=".BayonActivity"
            android:exported="false" />
        <activity
            android:name=".PubstreetActivity"
            android:exported="false" />
        <activity
            android:name=".pubstreetActivity"
            android:exported="false" />
        <activity
            android:name=".kulenActivity"
            android:exported="false" />
        <activity
            android:name=".bapournActivity"
            android:exported="false" />
        <activity
            android:name=".AngkorwatActivity"
            android:exported="false" />
        <activity
            android:name=".FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".Register3Activity"
            android:exported="false" />
        <activity
            android:name=".Register2Activity"
            android:exported="false" />
        <activity
            android:name=".Register1Activity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SeimreabActivity"
            android:exported="false" />
        <activity
            android:name=".WaterfallActivity"
            android:exported="false" />
        <activity
            android:name=".TempleActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>